@import './styles/variables.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'DM Sans', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}

#root {
  width: 100%;
  min-height: 100vh;
}